/*#avatar-pic {
    padding-top: 10px;
}*/
#profile-name, #profile-email {
    
    color: rgba(0, 0, 0, 0.8);
}
#arrowDown {
    color: rgba(0, 0, 0, 0.8);
}
#profileCard {
    background-color: rgba(255, 255, 0, 0.6);
}